body{
    background-image: url("./image/fundo_site_formulário.png");
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #70587C;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, p{
    text-align: center;
    margin: 1em auto;
}

label{
    display: block;
    margin: 0.5rem 0;
}